.user-room-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  background-color: #131616;

  .user-info-box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: inset 0 0 20px 1px deeppink;
    background-color: white;

    .user-welcome-header {
      margin: 0;
      text-align: center;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      color: #131616;
    }

    .user-id-paragraph {
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      color: #131616;
    }

    .user-room-buttons {
      .logout-button {
        margin-right: 8px;
        box-sizing: border-box;
        border: 2px solid deeppink;
        border-radius: 5px;
        background: #000;
        color: white;
        transition: 0.8s;

        &:hover {
          cursor: pointer;
        }
      }

      .enter-button {
        box-sizing: border-box;
        border: 2px solid deeppink;
        border-radius: 5px;
        background: #000;
        color: white;
        transition: 0.8s;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .user-info-box {
    width: 100%;
    height: 250px;

    .user-welcome-header {
      font-size: 20px;
    }

    .user-id-paragraph {
    }

    .user-room-buttons {
      .logout-button {
        padding: 5px;
        font-size: 14px;
      }

      .enter-button {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .user-info-box {
    width: 100%;
    height: 260px;

    .user-welcome-header {
      font-size: 22px;
    }

    .user-id-paragraph {
    }

    .user-room-buttons {
      .logout-button {
        padding: 5px;
        font-size: 15px;
      }

      .enter-button {
        padding: 5px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .user-info-box {
    width: 400px;
    height: 270px;

    .user-welcome-header {
      font-size: 25px;
    }

    .user-id-paragraph {
    }

    .user-room-buttons {
      .logout-button {
        padding: 6px;
        font-size: 16px;
      }

      .enter-button {
        padding: 6px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user-info-box {
    width: 700px;
    height: 310px;

    .user-welcome-header {
      font-size: 28px;
    }

    .user-id-paragraph {
      font-size: 18px;
    }

    .user-room-buttons {
      .logout-button {
        padding: 7px;
        font-size: 20px;
      }

      .enter-button {
        padding: 7px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .user-info-box {
    width: 870px;
    height: 350px;

    .user-welcome-header {
      font-size: 32px;
    }

    .user-id-paragraph {
      font-size: 20px;
    }

    .user-room-buttons {
      .logout-button {
        padding: 8px;
        font-size: 22px;
      }

      .enter-button {
        padding: 8px;
        font-size: 22px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .user-info-box {
    width: 1150px;
    height: 400px;

    .user-welcome-header {
      font-size: 36px;
    }

    .user-id-paragraph {
      font-size: 22px;
    }

    .user-room-buttons {
      .logout-button {
        padding: 9px;
        font-size: 24px;
      }

      .enter-button {
        padding: 9px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .user-info-box {
    width: 1800px;
    height: 600px;

    .user-welcome-header {
      font-size: 58px;
    }

    .user-id-paragraph {
      font-size: 36px;
    }

    .user-room-buttons {
      .logout-button {
        padding: 11px;
        font-size: 40px;
      }

      .enter-button {
        padding: 11px;
        font-size: 40px;
      }
    }
  }
}
