.broadcast-item-wrapper {
  width: 33%;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
  border: 1px solid white;
  z-index: 1;

  span {
    color: deeppink;
  }

  img {
    width: 100%;
  }

  video {
    width: 100%;
  }
}
