.language-switcher-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #00897b;
  border-radius: 10px;
  background-color: #131616;
  transition-property: border-color;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  cursor: pointer;

  &.active {
    border-color: gray;
  }

  .switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    transition-property: transform, background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    background-color: #00897b;
    z-index: 1;

    &.active {
      background-color: white;
    }
  }

  .current-language-span {
    font-size: 16px;
    color: white;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
    transition-property: transform, color;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;

    &.active {
      transform: translateX(0px);
      color: #00897b;
    }
  }
}

@media screen and (max-width: 2559px) {
  .language-switcher-wrapper {
    width: 60px;
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;

    .switcher {
      width: 7px;
      height: 7px;

      &.active {
        transform: translateX(39px);
      }
    }

    .current-language-span {
      margin-left: -7px;
      transform: translateX(22.5px);

      &.active {
        transform: translateX(0px);
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .language-switcher-wrapper {
    width: 120px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;

    .switcher {
      width: 14px;
      height: 14px;

      &.active {
        transform: translateX(78px);
      }
    }

    .current-language-span {
      font-size: 32px;
      margin-left: -14px;
      transform: translateX(45px);

      &.active {
        transform: translateX(0px);
      }
    }
  }
}
