.language-switcher-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #00897b;
  border-radius: 10px;
  background-color: #131616;
  transition-property: border-color;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  cursor: pointer;

  &.active {
    border-color: gray;
  }

  .switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    transition-property: background-color, margin;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    background-color: #00897b;
    z-index: 1;

    &.active {
      background-color: white;
    }
  }

  .current-language-span {
    color: white;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
    transition-property: color, margin;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;

    &.active {
      transform: translateX(0px);
      color: #00897b;
    }
  }
}

@media screen and (max-width: 319px) {
  .language-switcher-wrapper {
    width: 40px;
    height: 15px;
    padding-left: 3.2px;
    padding-right: 3.6px;

    .switcher {
      width: 4.38px;
      height: 4.38px;

      &.active {
        margin-left: 11px;
      }
    }

    .current-language-span {
      font-size: 10px;
      margin-left: 10px;

      &.active {
        margin-left: -28px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .language-switcher-wrapper {
    width: 42.6px;
    height: 16px;
    padding-left: 3.44px;
    padding-right: 3.44px;

    .switcher {
      width: 4.81px;
      height: 4.81px;

      &.active {
        margin-left: 11px;
      }
    }

    .current-language-span {
      font-size: 11px;
      margin-left: 10px;

      &.active {
        margin-left: -30px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .language-switcher-wrapper {
    width: 48px;
    height: 16px;
    padding-left: 3.75px;
    padding-right: 3.75px;

    .switcher {
      width: 5.25px;
      height: 5.25px;

      &.active {
        margin-left: 10px;
      }
    }

    .current-language-span {
      font-size: 12px;
      margin-left: 10px;

      &.active {
        margin-left: -32px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .language-switcher-wrapper {
    width: 52px;
    height: 19px;
    padding-left: 4.38px;
    padding-right: 4.38px;

    .switcher {
      width: 6.13px;
      height: 6.13px;

      &.active {
        margin-left: 12px;
      }
    }

    .current-language-span {
      font-size: 13px;
      margin-left: 10px;

      &.active {
        margin-left: -34px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .language-switcher-wrapper {
    width: 60px;
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;

    .switcher {
      width: 7px;
      height: 7px;

      &.active {
        margin-left: 15px;
      }
    }

    .current-language-span {
      font-size: 16px;
      margin-left: 10px;

      &.active {
        margin-left: -40px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .language-switcher-wrapper {
    width: 60px;
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;

    .switcher {
      width: 7px;
      height: 7px;

      &.active {
        margin-left: 15px;
      }
    }

    .current-language-span {
      font-size: 16px;
      margin-left: 10px;

      &.active {
        margin-left: -40px;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .language-switcher-wrapper {
    width: 88px;
    height: 33px;
    padding-left: 6px;
    padding-right: 9px;

    .switcher {
      width: 9.5px;
      height: 9.5px;

      &.active {
        margin-left: 24px;
      }
    }

    .current-language-span {
      font-size: 20px;
      margin-left: 24px;

      &.active {
        margin-left: -63px;
      }
    }
  }
}
