.bottom-panel {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  box-sizing: border-box;
  border: 1px solid slategrey;
  border-top: 0;
  border-bottom: 2px solid slategrey;
  border-left: 2px solid slategrey;
  border-right: 2px solid slategrey;
  background-color: white;

  .message-input-label {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid slategrey;

    input {
      width: 100%;
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      padding: 10px;
      border: none;
      outline: none;
      background-color: white;

      &::placeholder {
        opacity: 0;
      }

      &:focus {
        outline: none;

        &:placeholder-shown {
          + span {
            background-color: white;
            color: #00897b;
            cursor: default;
          }

          ~ .line {
            background-color: #00897b;
          }
        }
      }

      &:focus,
      &:not(:placeholder-shown) {
        + span {
          background-color: white;
          color: #00897b;
          cursor: default;
        }

        ~ .line {
          width: calc(100% + 2px);
        }
      }

      &:not(:focus),
      &:not(:placeholder-shown) {
        + span {
          background-color: white;
          color: yellowgreen;
        }
      }

      &:invalid {
        + span {
          background-color: white;
          color: red;
        }

        ~ .line {
          background-color: red;
        }
      }

      &:placeholder-shown {
        + span {
          background-color: white;
          color: black;
        }
      }
    }

    span {
      position: absolute;
      left: 12px;
      font-weight: 400;
      opacity: 0.8;
      transition: 0.6s;
      color: black;
      cursor: text;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    .line {
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: -1px;
      background-color: yellowgreen;
      transition: 0.3s;
    }
  }

  .bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .private-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 2px;
      margin-right: 5px;
      background: deeppink;
      border: 1px dashed white;
      border-radius: 5px;
      animation-name: private-box-moving;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      overflow: hidden;

      &::after {
        content: "✗";
        position: absolute;
        top: 0;
        right: 5px;
        font-weight: bolder;
        color: white;
        z-index: 5;
      }

      span {
        height: 18px;
        position: relative;
        margin-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bolder;
        color: whitesmoke;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .button-sendmessage {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid slategrey;
    border-radius: 5px;
    background: #000;
    color: white;
    font-weight: bold;
    padding: 4px;

    &:hover {
      cursor: pointer;
    }
  }

  .bottom-return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    box-sizing: border-box;
    border: 2px solid slategrey;
    border-radius: 5px;
    background: #555;
    color: white;
    font-weight: bold;
    padding: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 319px) {
  .bottom-panel {
    height: 80px;

    .message-input-label {
      height: 33px;
      margin-bottom: 10px;

      input {
        font-size: 10px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -5.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 9.5px;
        font-size: 10px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 11px;

        &::after {
          font-size: 11px;
        }
      }

      .button-sendmessage {
        width: 72px;
        font-size: 10px;
      }

      .bottom-return-button {
        width: 60px;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .bottom-panel {
    height: 85px;

    .message-input-label {
      height: 33px;
      margin-bottom: 10px;

      input {
        font-size: 10px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -5.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 9.5px;
        font-size: 10px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 13px;

        &::after {
          font-size: 13px;
        }
      }

      .button-sendmessage {
        width: 75px;
        font-size: 12px;
      }

      .bottom-return-button {
        width: 65px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .bottom-panel {
    height: 88px;
    padding-top: 8px;

    .message-input-label {
      height: 36px;
      margin-bottom: 10px;

      input {
        font-size: 12px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -7.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 9.5px;
        font-size: 12px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 13px;

        &::after {
          font-size: 13px;
        }
      }

      .button-sendmessage {
        width: 75px;
        font-size: 12px;
      }

      .bottom-return-button {
        width: 65px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .bottom-panel {
    height: 90px;

    .message-input-label {
      height: 37px;
      margin-bottom: 10px;

      input {
        font-size: 13px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 9.5px;
        font-size: 13px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 14px;

        &::after {
          font-size: 14px;
        }
      }

      .button-sendmessage {
        width: 85px;
        font-size: 14px;
      }

      .bottom-return-button {
        width: 70px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .bottom-panel {
    height: 92px;

    .message-input-label {
      height: 40px;
      margin-bottom: 10px;

      input {
        font-size: 14px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 11px;
        font-size: 14px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 16px;

        &::after {
          font-size: 15px;
        }
      }

      .button-sendmessage {
        width: 90px;
        font-size: 15px;
      }

      .bottom-return-button {
        width: 75px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .bottom-panel {
    height: 100px;

    .message-input-label {
      height: 40px;
      margin-bottom: 10px;

      input {
        font-size: 14px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 12px;
        font-size: 14px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 17px;

        &::after {
          font-size: 15px;
        }
      }

      .button-sendmessage {
        width: 100px;
        font-size: 17px;
      }

      .bottom-return-button {
        width: 85px;
        font-size: 17px;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .bottom-panel {
    height: 150px;
    padding-top: 12px;

    .message-input-label {
      height: 55px;
      margin-bottom: 20px;

      input {
        font-size: 20px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -11.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 16px;
        font-size: 20px;
      }
    }

    .bottom-buttons {
      .private-info {
        font-size: 18px;

        &::after {
          font-size: 16px;
        }
      }

      .button-sendmessage {
        width: 125px;
        font-size: 22px;
      }

      .bottom-return-button {
        width: 100px;
        font-size: 22px;
      }
    }
  }
}
