.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .chat-upper-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

@media screen and (max-width: 319px) {
  .chat-upper-wrapper {
    height: calc(100vh - 80px);
  }
}

@media screen and (min-width: 320px) {
  .chat-upper-wrapper {
    height: calc(100vh - 85px);
  }
}

@media screen and (min-width: 425px) {
  .chat-upper-wrapper {
    height: calc(100vh - 88px);
  }
}

@media screen and (min-width: 768px) {
  .chat-upper-wrapper {
    height: calc(100vh - 90px);
  }
}

@media screen and (min-width: 1024px) {
  .chat-upper-wrapper {
    height: calc(100vh - 92px);
  }
}

@media screen and (min-width: 1440px) {
  .chat-upper-wrapper {
    height: calc(100vh - 100px);
  }
}

@media screen and (min-width: 2560px) {
  .chat-upper-wrapper {
    height: calc(100vh - 150px);
  }
}

@keyframes private-box-moving {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes manifestation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
