.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .chat-upper-wrapper {
    width: 100%;
    height: 90vh;
    max-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;

    .userslist-box {
      width: 20vw;
      height: 100%;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid slategrey;
      border-right: 0px;

      .user-box-admin {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        padding-left: 5px;
        background: #eee;
        color: brown;
        font-weight: bolder;

        .private-button {
          margin-left: 2px;
        }
      }

      .user-box-mentor {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        padding-left: 5px;
        background: #eee;
        color: blueviolet;
        font-weight: bolder;

        .private-button {
          margin-left: 2px;
        }
      }

      .user-box {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        padding-left: 5px;
        background: #eee;
        color: black;
        font-weight: bold;

        .private-button {
          margin-left: 2px;
        }
      }
    }

    .chat-messages-box {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-start;
      box-sizing: border-box;
      border: 1px solid slategrey;
      overflow-y: visible;
      overflow: auto;

      .entering-notification {
        width: 100%;
        height: 16px;
        margin: 0;

        span {
          color: cadetblue;
          font-weight: bolder;
        }
      }

      .exiting-notification {
        width: 100%;
        height: 16px;
        margin: 0;

        span {
          color: chocolate;
          font-weight: bolder;
        }
      }

      .user-message {
        width: 100%;
        height: 16px;
        margin: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        color: black;

        span {
          color: fuchsia;
          font-weight: bolder;
        }
      }
    }
  }

  .bottom-panel {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid slategrey;
    border-top: 0px;

    .private-info {
      background: rgba(100, 100, 100, 0.5);

      &:hover {
        cursor: pointer;
      }
    }

    .message-input {
      width: 50%;
      &:focus {
        outline: none;
      }
    }

    .button-sendmessage {
      width: 80px;
    }
  }
}
