.chat-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .chat-upper-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .userslist-box {
      height: 100%;
      padding-top: 5px;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid slategrey;
      border-top: 2px solid slategrey;
      border-bottom: 2px solid slategrey;
      border-left: 2px solid slategrey;
      overflow-y: scroll;

      .users-count-box {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid slategrey;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        span {
          padding-left: 2px;
          font-weight: bolder;
          color: deeppink;
        }
      }

      .user-box-admin {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        background: #eee;
        color: #a59263;
        font-weight: bolder;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        animation-name: manifestation;
        animation-duration: 0.7s;

        .private-button {
          margin-left: 5px;
          box-sizing: border-box;
          border: 2px solid slategrey;
          border-radius: 20%;
          background-color: black;
          color: wheat;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .user-box-mentor {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        background: #eee;
        color: blueviolet;
        font-weight: bolder;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        animation-name: manifestation;
        animation-duration: 0.7s;

        .private-button {
          margin-left: 5px;
          box-sizing: border-box;
          border: 2px solid slategrey;
          border-radius: 20%;
          background-color: black;
          color: wheat;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .user-box {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        background: #eee;
        color: black;
        font-weight: bold;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        animation-name: manifestation;
        animation-duration: 0.7s;

        .private-button {
          margin-left: 5px;
          box-sizing: border-box;
          border: 2px solid slategrey;
          border-radius: 20%;
          background-color: black;
          color: wheat;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .user-box-private {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 2px;
        padding-left: 5px;
        background: #eee;
        color: green;
        font-weight: bolder;
        text-decoration: underline;
      }
    }

    .chat-messages-box {
      height: 100%;
      padding: 3px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border: 1px solid slategrey;
      border-top: 2px solid slategrey;
      border-bottom: 2px solid slategrey;
      overflow-y: scroll;

      .entering-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: skyblue;
          font-weight: bolder;
        }
      }

      .exiting-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: crimson;
          font-weight: bolder;
        }
      }

      .user-message {
        width: 100%;
        display: flex;
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        color: black;
        word-break: break-all;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          margin-right: 2px;
          font-weight: bolder;
          color: deeppink;
          word-break: keep-all;
        }
      }

      .private-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        color: black;
        word-break: break-all;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          font-weight: bolder;
          color: green;
          word-break: keep-all;
        }
      }

      .user-message-private {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        color: black;
        word-break: break-all;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: green;
          font-weight: bolder;
          word-break: keep-all;
        }
      }

      .private-notdelivered-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: green;
          font-weight: bolder;
          word-break: keep-all;
        }
      }

      .user-AFK-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: gray;
          font-weight: bolder;
          word-break: keep-all;
        }
      }

      .user-notAFK-notification {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        animation-name: manifestation;
        animation-duration: 0.7s;

        span {
          color: gray;
          font-weight: bolder;
          word-break: keep-all;
        }
      }
    }
  }
}

@keyframes private-box-moving {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes manifestation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 319px) {
  .chat-upper-wrapper {
    height: calc(100vh - 80px);
  }

  .userslist-box {
    width: 38%;

    .users-count-box {
      font-size: 12px;
    }

    .user-box-admin {
      font-size: 12px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-mentor {
      font-size: 12px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box {
      font-size: 12px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-private {
      font-size: 12px;
    }
  }

  .chat-messages-box {
    width: 62%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 12px;
    }

    .exiting-notification {
      font-size: 12px;
    }

    .user-message {
      font-size: 13px;
    }

    .private-notification {
      font-size: 13px;
    }

    .user-message-private {
      font-size: 13px;
    }

    .private-notdelivered-notification {
      font-size: 12px;
    }

    .user-AFK-notification {
      font-size: 12px;
    }

    .user-notAFK-notification {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 320px) {
  .chat-upper-wrapper {
    height: calc(100vh - 85px);
  }

  .userslist-box {
    width: 33%;

    .users-count-box {
      font-size: 12px;
    }

    .user-box-admin {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-mentor {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-private {
      font-size: 14px;
    }
  }

  .chat-messages-box {
    width: 67%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 12px;
    }

    .exiting-notification {
      font-size: 12px;
    }

    .user-message {
      font-size: 14px;
    }

    .private-notification {
      font-size: 14px;
    }

    .user-message-private {
      font-size: 14px;
    }

    .private-notdelivered-notification {
      font-size: 12px;
    }

    .user-AFK-notification {
      font-size: 12px;
    }

    .user-notAFK-notification {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 425px) {
  .chat-upper-wrapper {
    height: calc(100vh - 88px);
  }

  .userslist-box {
    width: 33%;

    .users-count-box {
      font-size: 12px;
    }

    .user-box-admin {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-mentor {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box {
      font-size: 14px;

      .private-button {
        font-size: 10px;
      }
    }

    .user-box-private {
      font-size: 14px;
    }
  }

  .chat-messages-box {
    width: 67%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 12px;
    }

    .exiting-notification {
      font-size: 12px;
    }

    .user-message {
      font-size: 14px;
    }

    .private-notification {
      font-size: 14px;
    }

    .user-message-private {
      font-size: 14px;
    }

    .private-notdelivered-notification {
      font-size: 12px;
    }

    .user-AFK-notification {
      font-size: 12px;
    }

    .user-notAFK-notification {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .chat-upper-wrapper {
    height: calc(100vh - 90px);
  }

  .userslist-box {
    width: 25%;

    .users-count-box {
      font-size: 14px;
    }

    .user-box-admin {
      font-size: 16px;

      .private-button {
        font-size: 12px;
      }
    }

    .user-box-mentor {
      font-size: 16px;

      .private-button {
        font-size: 12px;
      }
    }

    .user-box {
      font-size: 16px;

      .private-button {
        font-size: 12px;
      }
    }

    .user-box-private {
      font-size: 16px;
    }
  }

  .chat-messages-box {
    width: 75%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 14px;
    }

    .exiting-notification {
      font-size: 14px;
    }

    .user-message {
      font-size: 16px;
    }

    .private-notification {
      font-size: 16px;
    }

    .user-message-private {
      font-size: 16px;
    }

    .private-notdelivered-notification {
      font-size: 14px;
    }

    .user-AFK-notification {
      font-size: 14px;
    }

    .user-notAFK-notification {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat-upper-wrapper {
    height: calc(100vh - 92px);
  }

  .userslist-box {
    width: 20%;

    .users-count-box {
      font-size: 16px;
    }

    .user-box-admin {
      font-size: 18px;

      .private-button {
        font-size: 13px;
      }
    }

    .user-box-mentor {
      font-size: 18px;

      .private-button {
        font-size: 13px;
      }
    }

    .user-box {
      font-size: 18px;

      .private-button {
        font-size: 13px;
      }
    }

    .user-box-private {
      font-size: 18px;
    }
  }

  .chat-messages-box {
    width: 80%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 16px;
    }

    .exiting-notification {
      font-size: 16px;
    }

    .user-message {
      font-size: 18px;
    }

    .private-notification {
      font-size: 18px;
    }

    .user-message-private {
      font-size: 18px;
    }

    .private-notdelivered-notification {
      font-size: 16px;
    }

    .user-AFK-notification {
      font-size: 16px;
    }

    .user-notAFK-notification {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .chat-upper-wrapper {
    height: calc(100vh - 100px);
  }

  .userslist-box {
    width: 16%;

    .users-count-box {
      font-size: 18px;
    }

    .user-box-admin {
      font-size: 20px;

      .private-button {
        font-size: 14px;
      }
    }

    .user-box-mentor {
      font-size: 20px;

      .private-button {
        font-size: 14px;
      }
    }

    .user-box {
      font-size: 20px;

      .private-button {
        font-size: 14px;
      }
    }

    .user-box-private {
      font-size: 20px;
    }
  }

  .chat-messages-box {
    width: 84%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 18px;
    }

    .exiting-notification {
      font-size: 18px;
    }

    .user-message {
      font-size: 20px;
    }

    .private-notification {
      font-size: 20px;
    }

    .user-message-private {
      font-size: 20px;
    }

    .private-notdelivered-notification {
      font-size: 18px;
    }

    .user-AFK-notification {
      font-size: 18px;
    }

    .user-notAFK-notification {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 2560px) {
  .chat-upper-wrapper {
    height: calc(100vh - 150px);
  }

  .userslist-box {
    width: 13%;

    .users-count-box {
      font-size: 22px;
    }

    .user-box-admin {
      font-size: 23px;

      .private-button {
        font-size: 16px;
      }
    }

    .user-box-mentor {
      font-size: 23px;

      .private-button {
        font-size: 16px;
      }
    }

    .user-box {
      font-size: 23px;

      .private-button {
        font-size: 16px;
      }
    }

    .user-box-private {
      font-size: 23px;
    }
  }

  .chat-messages-box {
    width: 87%;
  }

  .chat-messages-box {
    .entering-notification {
      font-size: 24px;
    }

    .exiting-notification {
      font-size: 24px;
    }

    .user-message {
      font-size: 28px;
    }

    .private-notification {
      font-size: 28px;
    }

    .user-message-private {
      font-size: 28px;
    }

    .private-notdelivered-notification {
      font-size: 24px;
    }

    .user-AFK-notification {
      font-size: 24px;
    }

    .user-notAFK-notification {
      font-size: 24px;
    }
  }
}
