.message-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 5px;
  animation-name: message-dropdown;
  animation-duration: 0.4s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  box-sizing: border-box;

  span {
    color: green;
  }
}

@keyframes message-dropdown {
  100% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 319px) {
  .message-box {
    span {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 320px) {
  .message-box {
    span {
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 425px) {
  .message-box {
    span {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .message-box {
    span {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .message-box {
    span {
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 2560px) {
  .message-box {
    span {
      font-size: 20px;
    }
  }
}
