.authorization-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .authorization-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;

    .authorization-header {
      margin: 0;
      margin-bottom: 15px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #emailInput {
      margin-bottom: 2px;
      box-sizing: border-box;
      border: 1px solid #111;

      &::placeholder {
        opacity: 0;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.5;
        transition: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        + label {
          color: deeppink;
          opacity: 1;
        }
      }
    }

    #passworInput {
      box-sizing: border-box;
      border: 1px solid #111;
      color: green;

      &::placeholder {
        opacity: 0;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.5;
        transition: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        + label {
          color: deeppink;
          opacity: 1;
        }
      }
    }

    .authorization-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .loginButton {
        margin-right: 5px;
      }

      .registrationButton {
      }
    }

    .message-box {
      width: 100%;
      height: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      color: cadetblue;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

@media screen and (max-width: 319px) {
  .authorization-wrapper {
    .authorization-form {
      width: 100%;
      height: 245px;

      .authorization-header {
        font-size: 25px;
      }

      #emailInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-20px) translateX(-49px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-33px) translateX(-49px);
        }

        &:focus {
          + label {
            transform: translateY(-33px) translateX(-49px);
          }
        }
      }

      #passworInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-17px) translateX(-45px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-30px) translateX(-45px);
        }

        &:focus {
          + label {
            transform: translateY(-30px) translateX(-45px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
        }

        .registrationButton {
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .authorization-wrapper {
    .authorization-form {
      width: 100%;
      height: 245px;

      .authorization-header {
        font-size: 25px;
      }

      #emailInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-20px) translateX(-49px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-33px) translateX(-49px);
        }

        &:focus {
          + label {
            transform: translateY(-33px) translateX(-49px);
          }
        }
      }

      #passworInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-17px) translateX(-45px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-30px) translateX(-45px);
        }

        &:focus {
          + label {
            transform: translateY(-30px) translateX(-45px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 15px;
        }

        .registrationButton {
          font-size: 15px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .authorization-wrapper {
    .authorization-form {
      width: 350px;
      height: 250px;

      .authorization-header {
        font-size: 27px;
      }

      #emailInput {
        width: 200px;
        height: 28px;
        border-radius: 5px;
        font-size: 12px;

        + label {
          font-size: 12px;
          transform: translateY(-22px) translateX(-54px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-37px) translateX(-54px);
        }

        &:focus {
          + label {
            transform: translateY(-37px) translateX(-54px);
          }
        }
      }

      #passworInput {
        width: 200px;
        height: 28px;
        border-radius: 5px;
        font-size: 12px;

        + label {
          font-size: 12px;
          transform: translateY(-20px) translateX(-50px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-35px) translateX(-50px);
        }

        &:focus {
          + label {
            transform: translateY(-35px) translateX(-50px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 16px;
        }

        .registrationButton {
          font-size: 16px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .authorization-wrapper {
    .authorization-form {
      width: 380px;
      height: 260px;

      .authorization-header {
        font-size: 29px;
      }

      #emailInput {
        width: 220px;
        height: 30px;
        border-radius: 5px;
        font-size: 13px;

        + label {
          font-size: 13px;
          transform: translateY(-24px) translateX(-60px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-40px) translateX(-60px);
        }

        &:focus {
          + label {
            transform: translateY(-40px) translateX(-60px);
          }
        }
      }

      #passworInput {
        width: 220px;
        height: 30px;
        border-radius: 5px;
        font-size: 13px;

        + label {
          font-size: 13px;
          transform: translateY(-22px) translateX(-56px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-38px) translateX(-56px);
        }

        &:focus {
          + label {
            transform: translateY(-38px) translateX(-56px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 17px;
        }

        .registrationButton {
          font-size: 17px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .authorization-wrapper {
    .authorization-form {
      width: 440px;
      height: 280px;

      .authorization-header {
        font-size: 32px;
      }

      #emailInput {
        width: 240px;
        height: 32px;
        border-radius: 5px;
        font-size: 14px;

        + label {
          font-size: 14px;
          transform: translateY(-24px) translateX(-66px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-42px) translateX(-66px);
        }

        &:focus {
          + label {
            transform: translateY(-42px) translateX(-66px);
          }
        }
      }

      #passworInput {
        width: 240px;
        height: 32px;
        border-radius: 5px;
        font-size: 14px;

        + label {
          font-size: 14px;
          transform: translateY(-22px) translateX(-61px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-40px) translateX(-61px);
        }

        &:focus {
          + label {
            transform: translateY(-40px) translateX(-61px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 18px;
        }

        .registrationButton {
          font-size: 18px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .authorization-wrapper {
    .authorization-form {
      width: 470px;
      height: 290px;

      .authorization-header {
        font-size: 34px;
      }

      #emailInput {
        width: 260px;
        height: 34px;
        border-radius: 5px;
        font-size: 15px;

        + label {
          font-size: 15px;
          transform: translateY(-27px) translateX(-72px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-45px) translateX(-72px);
        }

        &:focus {
          + label {
            transform: translateY(-45px) translateX(-72px);
          }
        }
      }

      #passworInput {
        width: 260px;
        height: 34px;
        border-radius: 5px;
        font-size: 15px;

        + label {
          font-size: 15px;
          transform: translateY(-25px) translateX(-67px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-43px) translateX(-67px);
        }

        &:focus {
          + label {
            transform: translateY(-43px) translateX(-67px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 20px;
        }

        .registrationButton {
          font-size: 20px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .authorization-wrapper {
    .authorization-form {
      width: 700px;
      height: 450px;

      .authorization-header {
        font-size: 52px;
      }

      #emailInput {
        width: 350px;
        height: 45px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 20px;

        + label {
          font-size: 20px;
          transform: translateY(-35px) translateX(-98px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-60px) translateX(-98px);
        }

        &:focus {
          + label {
            transform: translateY(-60px) translateX(-98px);
          }
        }
      }

      #passworInput {
        width: 350px;
        height: 45px;
        border-radius: 5px;
        font-size: 20px;

        + label {
          font-size: 20px;
          transform: translateY(-33px) translateX(-92px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-58px) translateX(-92px);
        }

        &:focus {
          + label {
            transform: translateY(-58px) translateX(-92px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 32px;
        }

        .registrationButton {
          font-size: 32px;
        }
      }

      .message-box {
      }
    }
  }
}
