.authorization-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #131616;

  .copyright {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: gray;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #authorization-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 15px;
    padding-top: 25px;
    box-sizing: border-box;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: inset 0 0 15px 1px #00897b;
    background-color: white;

    .logo-text {
      position: absolute;
      top: -88px;
      left: -1px;
      font-size: 45px;
      font-weight: bolder;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #00897b;
    }

    #emailInput {
      margin-bottom: 2px;
      box-sizing: border-box;
      border: 1px solid #00897b;

      &::placeholder {
        opacity: 0;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.6;
        transition-property: color, opacity, transform;
        transition-duration: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;

        &:invalid {
          border: 1px solid red;
        }
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        + label {
          color: #00897b;
          opacity: 1;
        }
      }
    }

    #passworInput {
      box-sizing: border-box;
      border: 1px solid #00897b;
      color: green;

      &::placeholder {
        opacity: 0;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.6;
        transition-property: color, opacity, transform;
        transition-duration: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;

        &:invalid {
          border: 1px solid red;
        }
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        + label {
          color: #00897b;
          opacity: 1;
        }
      }
    }

    .authorization-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .loginButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        box-sizing: border-box;
        border: 2px solid #00897b;
        border-radius: 5px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: white;
        }
      }

      .registrationButton {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid #000;
        border-radius: 5px;
        background: #000;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: white;
        }
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .authorization-wrapper {
    .copyright {
      font-size: 10px;
    }

    #authorization-form {
      width: 90%;
      height: 200px;

      #emailInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-20px) translateX(-49px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-33px) translateX(-49px);
        }

        &:focus {
          + label {
            transform: translateY(-33px) translateX(-49px);
          }
        }
      }

      #passworInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-17px) translateX(-45px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-30px) translateX(-45px);
        }

        &:focus {
          + label {
            transform: translateY(-30px) translateX(-45px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 70px;
          padding: 5px;
          font-size: 12px;
        }

        .registrationButton {
          width: 90px;
          padding: 5px;
          font-size: 12px;
        }
      }

      .message-box {
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .authorization-wrapper {
    .copyright {
      font-size: 11px;
    }

    #authorization-form {
      width: 90%;
      height: 205px;

      #emailInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-20px) translateX(-49px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-33px) translateX(-49px);
        }

        &:focus {
          + label {
            transform: translateY(-33px) translateX(-49px);
          }
        }
      }

      #passworInput {
        width: 170px;
        height: 25px;
        border-radius: 5px;
        font-size: 10px;

        + label {
          font-size: 10px;
          transform: translateY(-17px) translateX(-45px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-30px) translateX(-45px);
        }

        &:focus {
          + label {
            transform: translateY(-30px) translateX(-45px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 70px;
          padding: 5px;
          font-size: 13px;
        }

        .registrationButton {
          width: 90px;
          padding: 5px;
          font-size: 13px;
        }
      }

      .message-box {
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .authorization-wrapper {
    .copyright {
      font-size: 12px;
    }

    #authorization-form {
      width: 350px;
      height: 220px;

      #emailInput {
        width: 200px;
        height: 28px;
        border-radius: 5px;
        font-size: 12px;

        + label {
          font-size: 12px;
          transform: translateY(-22px) translateX(-54px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-37px) translateX(-54px);
        }

        &:focus {
          + label {
            transform: translateY(-37px) translateX(-54px);
          }
        }
      }

      #passworInput {
        width: 200px;
        height: 28px;
        border-radius: 5px;
        font-size: 12px;

        + label {
          font-size: 12px;
          transform: translateY(-20px) translateX(-50px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-35px) translateX(-50px);
        }

        &:focus {
          + label {
            transform: translateY(-35px) translateX(-50px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 75px;
          padding: 6px;
          font-size: 14px;
        }

        .registrationButton {
          width: 95px;
          padding: 6px;
          font-size: 14px;
        }
      }

      .message-box {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .authorization-wrapper {
    .copyright {
      font-size: 14px;
    }

    #authorization-form {
      width: 380px;
      height: 230px;

      #emailInput {
        width: 220px;
        height: 30px;
        border-radius: 5px;
        font-size: 13px;

        + label {
          font-size: 13px;
          transform: translateY(-24px) translateX(-60px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-40px) translateX(-60px);
        }

        &:focus {
          + label {
            transform: translateY(-40px) translateX(-60px);
          }
        }
      }

      #passworInput {
        width: 220px;
        height: 30px;
        border-radius: 5px;
        font-size: 13px;

        + label {
          font-size: 13px;
          transform: translateY(-22px) translateX(-56px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-38px) translateX(-56px);
        }

        &:focus {
          + label {
            transform: translateY(-38px) translateX(-56px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 80px;
          padding: 7px;
          font-size: 15px;
        }

        .registrationButton {
          width: 115px;
          padding: 7px;
          font-size: 15px;
        }
      }

      .message-box {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .authorization-wrapper {
    .copyright {
      font-size: 15px;
    }

    #authorization-form {
      width: 440px;
      height: 235px;

      #emailInput {
        width: 240px;
        height: 32px;
        border-radius: 5px;
        font-size: 14px;

        + label {
          font-size: 14px;
          transform: translateY(-24px) translateX(-66px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-42px) translateX(-66px);
        }

        &:focus {
          + label {
            transform: translateY(-42px) translateX(-66px);
          }
        }
      }

      #passworInput {
        width: 240px;
        height: 32px;
        border-radius: 5px;
        font-size: 14px;

        + label {
          font-size: 14px;
          transform: translateY(-22px) translateX(-61px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-40px) translateX(-61px);
        }

        &:focus {
          + label {
            transform: translateY(-40px) translateX(-61px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 85px;
          padding: 8px;
          font-size: 16px;
        }

        .registrationButton {
          width: 125px;
          padding: 8px;
          font-size: 16px;
        }
      }

      .message-box {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .authorization-wrapper {
    .copyright {
      font-size: 15px;
    }

    #authorization-form {
      width: 445px;
      height: 245px;

      #emailInput {
        width: 260px;
        height: 34px;
        border-radius: 5px;
        font-size: 15px;

        + label {
          font-size: 15px;
          transform: translateY(-27px) translateX(-72px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-45px) translateX(-72px);
        }

        &:focus {
          + label {
            transform: translateY(-45px) translateX(-72px);
          }
        }
      }

      #passworInput {
        width: 260px;
        height: 34px;
        border-radius: 5px;
        font-size: 15px;

        + label {
          font-size: 15px;
          transform: translateY(-25px) translateX(-67px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-43px) translateX(-67px);
        }

        &:focus {
          + label {
            transform: translateY(-43px) translateX(-67px);
          }
        }
      }

      .authorization-buttons {
        .loginButton {
          width: 90px;
          padding: 9px;
          font-size: 18px;
        }

        .registrationButton {
          width: 135px;
          padding: 9px;
          font-size: 18px;
        }
      }

      .message-box {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .authorization-wrapper {
    .copyright {
      font-size: 20px;
    }

    #authorization-form {
      width: 600px;
      height: 310px;

      #emailInput {
        width: 350px;
        height: 45px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 20px;

        + label {
          font-size: 20px;
          transform: translateY(-35px) translateX(-98px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-60px) translateX(-98px);
        }

        &:focus {
          + label {
            transform: translateY(-60px) translateX(-98px);
          }
        }
      }

      #passworInput {
        width: 350px;
        height: 45px;
        border-radius: 5px;
        font-size: 20px;

        + label {
          font-size: 20px;
          transform: translateY(-33px) translateX(-92px);
        }

        &:not(:placeholder-shown) + label {
          transform: translateY(-58px) translateX(-92px);
        }

        &:focus {
          + label {
            transform: translateY(-58px) translateX(-92px);
          }
        }
      }

      .authorization-buttons {
        margin-bottom: 10px;

        .loginButton {
          width: 120px;
          padding: 9px;
          font-size: 28px;
        }

        .registrationButton {
          width: 200px;
          padding: 9px;
          font-size: 28px;
        }
      }

      .message-box {
        font-size: 22px;
      }
    }
  }
}

@media (hover: hover) {
  .loginButton {
    transition-property: box-shadow;
    transition-duration: 0.7s;

    &:hover {
      box-shadow: 0 0 5px #00897b, 0 0 25px #00897b, 0 0 50px #00897b,
        0 0 200px #00897b;
    }
  }

  .registrationButton {
    transition-property: box-shadow;
    transition-duration: 0.7s;

    &:hover {
      box-shadow: 0 0 5px #000, 0 0 25px #000, 0 0 50px #000, 0 0 200px #000;
    }
  }
}
