.authorization-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .authorization-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;

    .authorization-header {
      margin: 0;
      margin-bottom: 5px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #emailInput {
      margin-bottom: 2px;

      &:focus {
        outline: none;
      }
    }

    #passworInput {
      &:focus {
        outline: none;
      }
    }

    .authorization-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .loginButton {
        margin-right: 5px;
      }

      .registrationButton {
      }
    }

    .message-box {
      width: 100%;
      height: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      color: cadetblue;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

@media screen and (max-width: 319px) {
  .authorization-wrapper {
    .authorization-form {
      width: 100%;
      height: 245px;

      .authorization-header {
        font-size: 25px;
      }

      label {
      }

      #emailInput {
        width: 170px;
        height: 18px;
        &:focus {
        }
      }

      #passworInput {
        width: 170px;
        height: 18px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
        }

        .registrationButton {
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .authorization-wrapper {
    .authorization-form {
      width: 100%;
      height: 245px;

      .authorization-header {
        font-size: 25px;
      }

      label {
      }

      #emailInput {
        width: 190px;
        height: 18px;
        &:focus {
        }
      }

      #passworInput {
        width: 190px;
        height: 18px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 15px;
        }

        .registrationButton {
          font-size: 15px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .authorization-wrapper {
    .authorization-form {
      width: 350px;
      height: 250px;

      .authorization-header {
        font-size: 27px;
      }

      label {
      }

      #emailInput {
        width: 200px;
        height: 19px;
        &:focus {
        }
      }

      #passworInput {
        width: 200px;
        height: 19px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 16px;
        }

        .registrationButton {
          font-size: 16px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .authorization-wrapper {
    .authorization-form {
      width: 380px;
      height: 260px;

      .authorization-header {
        font-size: 29px;
      }

      label {
      }

      #emailInput {
        width: 220px;
        height: 20px;
        &:focus {
        }
      }

      #passworInput {
        width: 220px;
        height: 20px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 17px;
        }

        .registrationButton {
          font-size: 17px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .authorization-wrapper {
    .authorization-form {
      width: 440px;
      height: 280px;

      .authorization-header {
        font-size: 32px;
      }

      label {
        font-size: 18px;
      }

      #emailInput {
        width: 250px;
        height: 21px;
        &:focus {
        }
      }

      #passworInput {
        width: 250px;
        height: 21px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 18px;
        }

        .registrationButton {
          font-size: 18px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .authorization-wrapper {
    .authorization-form {
      width: 470px;
      height: 290px;

      .authorization-header {
        font-size: 34px;
      }

      label {
        font-size: 19px;
      }

      #emailInput {
        width: 250px;
        height: 24px;
        &:focus {
        }
      }

      #passworInput {
        width: 250px;
        height: 24px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 20px;
        }

        .registrationButton {
          font-size: 20px;
        }
      }

      .message-box {
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .authorization-wrapper {
    .authorization-form {
      width: 700px;
      height: 450px;

      .authorization-header {
        font-size: 52px;
      }

      label {
        font-size: 30px;
      }

      #emailInput {
        width: 410px;
        height: 48px;
        &:focus {
        }
      }

      #passworInput {
        width: 410px;
        height: 48px;
        &:focus {
        }
      }

      .authorization-buttons {
        .loginButton {
          font-size: 32px;
        }

        .registrationButton {
          font-size: 32px;
        }
      }

      .message-box {
      }
    }
  }
}
