.main-box-wrapper {
  width: 800px;
  height: 500px;
  display: flex;
  border: 1px solid white;

  .stream-player {
    width: 390px;
    height: 270px;
    border: 1px solid white;
  }

  canvas {
    display: none;
    width: 390px;
    height: 270px;
  }
}
