header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  box-sizing: border-box;
  border: 3px solid #00897b;
  background-color: white;

  .nickname-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 5px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: bold;
      color: #00897b;
    }
  }

  nav {
    flex-grow: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
  }

  .services {
    height: calc(100% + 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border-left: 2px solid #00897b;
    border-right: 2px solid #00897b;
    border-top: 3px solid #00897b;
    border-bottom: 3px solid #00897b;

    cursor: pointer;
    z-index: 1;

    span {
      margin-left: 5px;
      margin-right: 5px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: bold;
      color: #00897b;
    }

    .services-list {
      width: calc(100% + 4px);
      height: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      left: -2px;
      transition-property: height;
      transition-duration: 0.4s;
      box-sizing: border-box;
      background-color: white;
      border-left: 2px solid #00897b;
      border-right: 2px solid #00897b;
      overflow: hidden;
      cursor: default;

      &.active {
        height: 80px;
        border-bottom: 2px solid #00897b;
      }

      .chat-link {
        margin-top: 5px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bold;
        color: yellowgreen;
        cursor: pointer;
      }
    }
  }

  .exit-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;

    span {
      margin-left: 5px;
      margin-right: 5px;
      font-weight: bold;
      color: #00897b;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 319px) {
  header {
    height: 30px;

    .services-list {
      top: 27px;
    }

    span {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 320px) {
  header {
    height: 32px;

    .services-list {
      top: 29px;
    }

    span {
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 425px) {
  header {
    height: 34px;

    .services-list {
      top: 31px;
    }

    span {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 36px;

    .services-list {
      top: 33px;
    }

    span {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 39px;

    .services-list {
      top: 36px;
    }

    span {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    height: 39px;

    .services-list {
      top: 36px;
    }

    span {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 2560px) {
  header {
    height: 50px;

    .services-list {
      top: 47px;
    }

    span {
      font-size: 20px;
    }
  }
}
