#login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 15px;
  padding-top: 25px;
  position: relative;
  box-sizing: border-box;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: inset 0 0 10px 1px #00897b;
  background-color: white;

  .logo-text {
    position: absolute;
    top: -43px;
    left: -1px;
    font-size: 45px;
    font-weight: bolder;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #00897b;
    animation-name: jump;
    animation-duration: 0.25s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
  }

  .input-label {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #00897b;

    &:nth-of-type(1) {
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      padding: 10px;
      border: none;
      outline: none;
      background-color: white;

      &::placeholder {
        opacity: 0;
      }

      &:focus {
        outline: none;

        &:placeholder-shown {
          + span {
            background-color: white;
            color: #00897b;
            cursor: default;
          }

          ~ .line {
            background-color: #00897b;
          }
        }
      }

      &:focus,
      &:not(:placeholder-shown) {
        + span {
          background-color: white;
          color: #00897b;
          cursor: default;
        }

        ~ .line {
          width: calc(100% + 2px);
        }
      }

      &:not(:focus),
      &:not(:placeholder-shown) {
        + span {
          background-color: white;
          color: yellowgreen;
        }
      }

      &:invalid {
        + span {
          background-color: white;
          color: red;
        }

        ~ .line {
          background-color: red;
        }
      }

      &:placeholder-shown {
        + span {
          background-color: white;
          color: black;
        }
      }
    }

    span {
      position: absolute;
      left: 12px;
      font-weight: 400;
      opacity: 0.8;
      transition: 0.6s;
      color: black;
      cursor: text;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    .line {
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: -1px;
      background-color: yellowgreen;
      transition: 0.3s;
    }
  }

  .authorization-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;

    .login-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      box-sizing: border-box;
      border: 2px solid #00897b;
      border-radius: 5px;
      z-index: 1;
      font-weight: bold;
      transition-property: color, background-color, box-shadow, border-color;
      transition-duration: 0.5s;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: white;
      }
    }

    .registration-page-button {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 5px;
      background: white;
      color: black;
      z-index: 1;
      font-weight: bold;
      transition-property: color, background-color, box-shadow;
      transition-duration: 0.5s;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: white;
      }
    }
  }
}

@media screen and (max-width: 319px) {
  #login-form {
    width: 90%;
    height: 235px;

    .input-label {
      width: 180px;
      height: 35px;

      input {
        font-size: 10px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -5.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 11.5px;
        font-size: 10px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 70px;
        padding: 5px;
        font-size: 12px;
      }

      .registration-page-button {
        width: 95px;
        padding: 5px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  #login-form {
    width: 90%;
    height: 235px;

    .input-label {
      width: 200px;
      height: 35px;

      input {
        font-size: 10px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -5.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 10.5px;
        font-size: 10px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 70px;
        padding: 5px;
        font-size: 13px;
      }

      .registration-page-button {
        width: 100px;
        padding: 5px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  #login-form {
    width: 350px;
    height: 245px;

    .input-label {
      width: 230px;
      height: 39px;

      input {
        font-size: 12px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -7.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 11.5px;
        font-size: 12px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 75px;
        padding: 6px;
        font-size: 14px;
      }

      .registration-page-button {
        width: 110px;
        padding: 6px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #login-form {
    width: 380px;
    height: 250px;

    .input-label {
      width: 260px;
      height: 40px;

      input {
        font-size: 13px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 10.5px;
        font-size: 13px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 80px;
        padding: 7px;
        font-size: 15px;
      }

      .registration-page-button {
        width: 120px;
        padding: 7px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #login-form {
    width: 440px;
    height: 255px;

    .input-label {
      width: 300px;
      height: 42px;

      input {
        font-size: 14px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 13px;
        font-size: 14px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 85px;
        padding: 8px;
        font-size: 16px;
      }

      .registration-page-button {
        width: 130px;
        padding: 8px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  #login-form {
    width: 440px;
    height: 258px;

    .input-label {
      width: 320px;
      height: 42px;

      input {
        font-size: 14px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -8px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 13px;
        font-size: 14px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 85px;
        padding: 8px;
        font-size: 16px;
      }

      .registration-page-button {
        width: 130px;
        padding: 8px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  #login-form {
    width: 600px;
    height: 320px;

    .input-label {
      width: 430px;
      height: 55px;

      &:nth-of-type(2) {
        margin-bottom: 10px;
      }

      input {
        font-size: 20px;

        &:focus,
        &:not(:placeholder-shown) {
          + span {
            left: 2px;
            top: -11.5px;
            padding: 0 4px;
            opacity: 1;
          }
        }
      }

      span {
        top: 16px;
        font-size: 20px;
      }
    }

    .authorization-buttons {
      .login-button {
        width: 140px;
        padding: 9px;
        font-size: 28px;
      }

      .registration-page-button {
        width: 220px;
        padding: 9px;
        font-size: 28px;
      }
    }
  }
}

@media (hover: hover) {
  .login-button {
    &:hover {
      box-shadow: inset 0 0 6px black;
    }
  }

  .registration-page-button {
    &:hover {
      box-shadow: inset 0 0 6px black;
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
    color: #00897b;
  }
  20% {
    transform: translateY(-30px);
    color: yellowgreen;
  }
  60% {
    transform: translateY(-30px);
    color: yellowgreen;
  }
  100% {
    transform: translateY(0);
    color: #00897b;
  }
}
