.registration-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #131616;

  .copyright {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #b0bec5;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #registration-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: inset 0 0 20px 1px #00897b;
    background-color: white;

    .logo-text {
      position: absolute;
      top: -88px;
      left: -1px;
      font-size: 45px;
      font-weight: bolder;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #00897b;
    }

    .registration-header {
      margin: 0;
      margin-bottom: 12px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #131616;
    }

    #nicknameInput {
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #00897b;

      &::placeholder {
        padding-left: 5px;
        opacity: 0;
        transition-property: opacity, padding;
        transition-duration: 0.8s;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.6;
        transition-property: color, opacity, transform;
        transition-duration: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        &::placeholder {
          opacity: 0.5;
          padding-left: 5px;
        }

        + label {
          color: #00897b;
          opacity: 1;
        }
      }
    }

    #emailInput {
      margin-bottom: 2px;
      box-sizing: border-box;
      border: 1px solid #00897b;

      &::placeholder {
        padding-left: 5px;
        opacity: 0;
        transition-property: opacity, padding;
        transition-duration: 0.8s;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.6;
        transition-property: color, opacity, transform;
        transition-duration: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        &::placeholder {
          opacity: 0.5;
          padding-left: 5px;
        }

        + label {
          color: #00897b;
          opacity: 1;
        }
      }
    }

    #passworInput {
      box-sizing: border-box;
      border: 1px solid #00897b;

      &::placeholder {
        padding-left: 5px;
        opacity: 0;
        transition-property: opacity, padding;
        transition-duration: 0.8s;
      }

      + label {
        display: block;
        background: white;
        opacity: 0.6;
        transition-property: color, opacity, transform;
        transition-duration: 0.8s;
        z-index: 1;
      }

      &:not(:placeholder-shown) {
        border: 1px solid peru;
        padding-left: 5px;
      }

      &:not(:placeholder-shown) + label {
        color: deeppink;
        opacity: 1;
      }

      &:focus {
        outline: none;

        &::placeholder {
          opacity: 0.5;
          padding-left: 5px;
        }

        + label {
          color: #00897b;
          opacity: 1;
        }
      }
    }

    .authorization-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .returnButton {
        margin-right: 15px;
        box-sizing: border-box;
        border: 2px solid grey;
        border-radius: 5px;
        background: #000;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: white;
        }
      }

      .registrationButton {
        box-sizing: border-box;
        border: 2px solid grey;
        border-radius: 5px;
        background: #000;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: white;
        }
      }
    }

    .message-box {
      width: 100%;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      color: deeppink;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}

@media screen and (max-width: 319px) {
  .copyright {
    font-size: 10px;
  }

  #registration-form {
    width: 100%;
    height: 285px;

    .registration-header {
      font-size: 25px;
    }

    #nicknameInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-33px) translateX(-40px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-46px) translateX(-40px);
      }

      &:focus {
        + label {
          transform: translateY(-46px) translateX(-40px);
        }
      }
    }

    #emailInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-20px) translateX(-48px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-33px) translateX(-48px);
      }

      &:focus {
        + label {
          transform: translateY(-33px) translateX(-48px);
        }
      }
    }

    #passworInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-18px) translateX(-45px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-31px) translateX(-45px);
      }

      &:focus {
        + label {
          transform: translateY(-31px) translateX(-45px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 5px;
        font-size: 12px;
      }

      .registrationButton {
        padding: 5px;
        font-size: 12px;
      }
    }

    .message-box {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 320px) {
  .copyright {
    font-size: 11px;
  }

  #registration-form {
    width: 100%;
    height: 285px;

    .registration-header {
      font-size: 25px;
    }

    #nicknameInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-33px) translateX(-40px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-46px) translateX(-40px);
      }

      &:focus {
        + label {
          transform: translateY(-46px) translateX(-40px);
        }
      }
    }

    #emailInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-20px) translateX(-48px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-33px) translateX(-48px);
      }

      &:focus {
        + label {
          transform: translateY(-33px) translateX(-48px);
        }
      }
    }

    #passworInput {
      width: 170px;
      height: 25px;
      border-radius: 5px;
      font-size: 10px;

      + label {
        font-size: 10px;
        transform: translateY(-18px) translateX(-45px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-31px) translateX(-45px);
      }

      &:focus {
        + label {
          transform: translateY(-31px) translateX(-45px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 5px;
        font-size: 13px;
      }

      .registrationButton {
        padding: 5px;
        font-size: 13px;
      }
    }

    .message-box {
      font-size: 11px;
    }
  }
}

@media screen and (min-width: 425px) {
  .copyright {
    font-size: 12px;
  }

  #registration-form {
    width: 350px;
    height: 320px;

    .registration-header {
      font-size: 27px;
    }

    #nicknameInput {
      width: 200px;
      height: 28px;
      border-radius: 5px;
      font-size: 12px;

      + label {
        font-size: 12px;
        transform: translateY(-35px) translateX(-45px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-50px) translateX(-45px);
      }

      &:focus {
        + label {
          transform: translateY(-50px) translateX(-45px);
        }
      }
    }

    #emailInput {
      width: 200px;
      height: 28px;
      border-radius: 5px;
      font-size: 12px;

      + label {
        font-size: 12px;
        transform: translateY(-22px) translateX(-54px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-37px) translateX(-54px);
      }

      &:focus {
        + label {
          transform: translateY(-37px) translateX(-54px);
        }
      }
    }

    #passworInput {
      width: 200px;
      height: 28px;
      border-radius: 5px;
      font-size: 12px;

      + label {
        font-size: 12px;
        transform: translateY(-20px) translateX(-50px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-35px) translateX(-50px);
      }

      &:focus {
        + label {
          transform: translateY(-35px) translateX(-50px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 6px;
        font-size: 14px;
      }

      .registrationButton {
        padding: 6px;
        font-size: 14px;
      }
    }

    .message-box {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .copyright {
    font-size: 14px;
  }

  #registration-form {
    width: 380px;
    height: 340px;

    .registration-header {
      font-size: 29px;
    }

    #nicknameInput {
      width: 220px;
      height: 30px;
      border-radius: 5px;
      font-size: 13px;

      + label {
        font-size: 13px;
        transform: translateY(-37px) translateX(-50px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-53px) translateX(-50px);
      }

      &:focus {
        + label {
          transform: translateY(-53px) translateX(-50px);
        }
      }
    }

    #emailInput {
      width: 220px;
      height: 30px;
      border-radius: 5px;
      font-size: 13px;

      + label {
        font-size: 13px;
        transform: translateY(-24px) translateX(-60px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-40px) translateX(-60px);
      }

      &:focus {
        + label {
          transform: translateY(-40px) translateX(-60px);
        }
      }
    }

    #passworInput {
      width: 220px;
      height: 30px;
      border-radius: 5px;
      font-size: 13px;

      + label {
        font-size: 13px;
        transform: translateY(-22px) translateX(-56px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-38px) translateX(-56px);
      }

      &:focus {
        + label {
          transform: translateY(-38px) translateX(-56px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 7px;
        font-size: 15px;
      }

      .registrationButton {
        padding: 7px;
        font-size: 15px;
      }
    }

    .message-box {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .copyright {
    font-size: 15px;
  }

  #registration-form {
    width: 440px;
    height: 340px;

    .registration-header {
      font-size: 32px;
    }

    #nicknameInput {
      width: 240px;
      height: 32px;
      border-radius: 5px;
      font-size: 14px;

      + label {
        font-size: 14px;
        transform: translateY(-39px) translateX(-56px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-55px) translateX(-56px);
      }

      &:focus {
        + label {
          transform: translateY(-55px) translateX(-56px);
        }
      }
    }

    #emailInput {
      width: 240px;
      height: 32px;
      border-radius: 5px;
      font-size: 14px;

      + label {
        font-size: 14px;
        transform: translateY(-25px) translateX(-66px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-42px) translateX(-66px);
      }

      &:focus {
        + label {
          transform: translateY(-42px) translateX(-66px);
        }
      }
    }

    #passworInput {
      width: 240px;
      height: 32px;
      border-radius: 5px;
      font-size: 14px;

      + label {
        font-size: 14px;
        transform: translateY(-24px) translateX(-62px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-40px) translateX(-62px);
      }

      &:focus {
        + label {
          transform: translateY(-40px) translateX(-62px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 8px;
        font-size: 16px;
      }

      .registrationButton {
        padding: 8px;
        font-size: 16px;
      }
    }

    .message-box {
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .copyright {
    font-size: 15px;
  }

  #registration-form {
    width: 470px;
    height: 355px;

    .registration-header {
      font-size: 34px;
    }

    #nicknameInput {
      width: 260px;
      height: 34px;
      border-radius: 5px;
      font-size: 15px;

      + label {
        font-size: 14px;
        transform: translateY(-39px) translateX(-65px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-57px) translateX(-65px);
      }

      &:focus {
        + label {
          transform: translateY(-57px) translateX(-65px);
        }
      }
    }

    #emailInput {
      width: 260px;
      height: 34px;
      border-radius: 5px;
      font-size: 15px;

      + label {
        font-size: 15px;
        transform: translateY(-27px) translateX(-75px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-45px) translateX(-75px);
      }

      &:focus {
        + label {
          transform: translateY(-45px) translateX(-75px);
        }
      }
    }

    #passworInput {
      width: 260px;
      height: 34px;
      border-radius: 5px;
      font-size: 15px;

      + label {
        font-size: 15px;
        transform: translateY(-25px) translateX(-70px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-43px) translateX(-70px);
      }

      &:focus {
        + label {
          transform: translateY(-43px) translateX(-70px);
        }
      }
    }

    .authorization-buttons {
      .returnButton {
        padding: 9px;
        font-size: 18px;
      }

      .registrationButton {
        padding: 9px;
        font-size: 18px;
      }
    }

    .message-box {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 2560px) {
  .copyright {
    font-size: 20px;
  }

  #registration-form {
    width: 700px;
    height: 500px;

    .registration-header {
      font-size: 52px;
    }

    #nicknameInput {
      width: 350px;
      height: 45px;
      margin-top: 10px;
      border-radius: 5px;
      font-size: 20px;

      + label {
        font-size: 20px;
        transform: translateY(-48px) translateX(-85px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-72px) translateX(-85px);
      }

      &:focus {
        + label {
          transform: translateY(-72px) translateX(-85px);
        }
      }
    }

    #emailInput {
      width: 350px;
      height: 45px;

      + label {
        font-size: 20px;
        transform: translateY(-36px) translateX(-98px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-59px) translateX(-98px);
      }

      &:focus {
        + label {
          transform: translateY(-59px) translateX(-98px);
        }
      }
    }

    #passworInput {
      width: 350px;
      height: 45px;

      + label {
        font-size: 20px;
        transform: translateY(-35px) translateX(-90px);
      }

      &:not(:placeholder-shown) + label {
        transform: translateY(-57px) translateX(-90px);
      }

      &:focus {
        + label {
          transform: translateY(-57px) translateX(-90px);
        }
      }
    }

    .authorization-buttons {
      margin-bottom: 10px;

      .returnButton {
        padding: 9px;
        font-size: 28px;
      }

      .registrationButton {
        padding: 9px;
        font-size: 28px;
      }
    }

    .message-box {
      font-size: 22px;
    }
  }
}
