.registration-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #131616;

  .switcher-wrapper {
    width: 100%;
    height: 46px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .copyright {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: gray;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media screen and (max-width: 319px) {
  .copyright {
    font-size: 10px;
  }
}

@media screen and (min-width: 320px) {
  .copyright {
    font-size: 11px;
  }
}

@media screen and (min-width: 425px) {
  .copyright {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .copyright {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .copyright {
    font-size: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .copyright {
    font-size: 15px;
  }
}

@media screen and (min-width: 2560px) {
  .copyright {
    font-size: 20px;
  }
}
